.DivBHN {
    display: flex;
    width: 1498px;
    z-index: 4;
    position: absolute;
    top: 138px;
    border-radius: 10px;
    pointer-events: auto;
    height: unset;
    box-shadow: 0 1px 1px rgb(0, 0, 0/14%) 0 4px 8px rgb(0, 0,0/30%);
    background-color: white;
    transition: all 50ms linear 0ms;
}

.UlBHN {
    background-color: #f9f9f9;
    margin: 0;
    width: 200px;
}
.LiBHN {
    display: block;
    height: 40px;
    padding: 4px 20px;
    
}
